# Prisma Database URL
DATABASE_URL="postgresql://postgres:your_password@db.your_project.supabase.co:5432/postgres"

# Supabase Auth & Realtime
NEXT_PUBLIC_SUPABASE_URL="https://your_project.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="your_supabase_publishable_key"

# App Base URL
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Optional AI Features
GEMINI_API_KEY="your_gemini_api_key"
